{{ define "main" }}
{{- if and .IsHome .Site.Params.intro }}<p class="!mt-0 !mb-8">{{ .Site.Params.intro }}</p>{{ end }}
{{ partial "mobile_tags.html" (dict "page" . "currentTag" "") }}

<div class="flex flex-row gap-8">
  <div class="flex-1 min-w-0">
    <ul class="list-none sm:list-disc !ps-0 sm:!ps-[1.625em] !my-0">
      {{- range (where .Site.RegularPages "Type" "notes").ByParam "uid" | collections.Reverse }}
        <li class="leading-normal !ps-0 sm:!ps-[0.375em]">
          <a href="{{ .RelPermalink | strings.TrimRight "/" }}">{{ .Title }}</a><br>
          <small class="text-sm text-slate-400"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006/01/02" }}</time></small>
        </li>
      {{- end }}
    </ul>
  </div>
  {{- partial "tags.html" (dict "page" . "currentTag" "") }}
</div>

<hr class="!my-6">
{{ end }}
