{{- $current := .currentTag -}}
{{- $taxonomies := .page.Site.Taxonomies.tags -}}
{{- if $taxonomies -}}
  <div class="not-prose hidden sm:flex flex-shrink-0 flex-col items-start gap-2 max-w-44">
    {{- range $name, $_ := $taxonomies }}
      <a href="/tags/{{ $name }}" class="text-sm no-underline rounded-md px-2 py-1 {{ if eq $name $current }}bg-slate-500 text-slate-100 dark:bg-slate-600{{ else }}bg-slate-100 text-slate-600 hover:text-slate-800 dark:bg-slate-800 dark:text-slate-300 dark:hover:text-slate-100{{ end }}">#{{ $name }}</a>
    {{- end }}
  </div>
{{- end -}}
